php_value error_reporting 1
php_value log_errors 1
php_value display_errors 1
php_value session.save_path /tmp
php_value precision 19

<IfModule mod_rewrite.c>

	RewriteEngine On
	RewriteRule ^=([a-zA-Z0-9]+)=/ $1.php
	RewriteRule ^=([a-zA-Z0-9]+)=/finished/([a-zA-Z0-9]+).(.*?)$ $1.php?op=finished&serial=$2
	RewriteRule ^=([a-zA-Z0-9]+)=/index(.*?)?(.*?)$ $1.php?$3
	RewriteRule ^=([a-zA-Z0-9]+)=/index(.*?)$ $1.php
	RewriteRule ^=([a-zA-Z0-9]+)=/?(.*?)$ $1.php?$2
	
</IfModule>
